---
// src/layouts/MainLayout.astro
import "../styles/global.css";
import Navbar from "../components/sections/Navbar.astro";
import Footer from "../components/sections/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const {
  title,
  description = "Portafolio de Emanuel - Desarrollador Fullstack",
} = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body
    class="bg-bg-page text-text-base font-['Inter',sans-serif] selection:bg-brand-scarlet/30"
  >
    <Navbar />
    <main class="max-w-5xl mx-auto px-4 py-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>